In [42]:
import os

In [43]:
%pwd

'/home/ubuntu/NYC-Bike-Share-Project'

In [3]:
os.chdir("../")

In [44]:
%pwd

'/home/ubuntu/NYC-Bike-Share-Project'

In [45]:
import pandas as pd

In [46]:
data = pd.read_csv("artifacts/data_ingestion/output.csv")
data.head()

,start_station_id,end_station_id,rideable_type_numeric,member_casual_numeric,trip_distance_miles,duration_min
0,5905.12,5703.13,0,1,0.626842,4.966667
1,5938.11,4692.01,0,1,2.874320,35.166667
2,5938.11,4692.01,0,1,2.874320,30.733333
3,5938.11,4692.01,0,1,2.874320,30.183333
4,5938.11,5779.10,0,1,0.383258,5.150000

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999376 entries, 0 to 999375
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   start_station_id       999376 non-null  float64
 1   end_station_id         999376 non-null  float64
 2   rideable_type_numeric  999376 non-null  int64
 3   member_casual_numeric  999376 non-null  int64
 4   trip_distance_miles    999376 non-null  float64
 5   duration_min           999376 non-null  float64
dtypes: float64(4), int64(2)
memory usage: 45.7 MB

In [48]:
# clean missing values on start_station_id, end_station_id columns

In [49]:
data.isnull().sum()

start_station_id         0
end_station_id           0
rideable_type_numeric    0
member_casual_numeric    0
trip_distance_miles      0
duration_min             0
dtype: int64

In [12]:
import pandas as pd
import numpy as np

# Assuming 'data' is your dataset
df = pd.DataFrame(data)

# Inspect unique values in 'start_station_id' and 'end_station_id' before cleaning
print("Unique values in 'start_station_id' before cleaning:")
print(df['start_station_id'].unique())

print("Unique values in 'end_station_id' before cleaning:")
print(df['end_station_id'].unique())

# Replace common string representations of NaN with actual np.nan
df.replace(['NaN', 'nan', '', 'None', 'NULL', 'null', 'N/A', 'NA'], np.nan, inplace=True)

# Convert 'start_station_id' and 'end_station_id' to numeric, forcing non-numeric values to NaN
df['start_station_id'] = pd.to_numeric(df['start_station_id'], errors='coerce')
df['end_station_id'] = pd.to_numeric(df['end_station_id'], errors='coerce')

# Display rows with any NaN values in 'start_station_id' or 'end_station_id'
nan_values = df[df[['start_station_id', 'end_station_id']].isna().any(axis=1)]
print("Rows with NaN values in 'start_station_id' or 'end_station_id':")
print(nan_values[['start_station_id', 'end_station_id']])

# Remove rows with any NaN values in 'start_station_id' or 'end_station_id'
df_clean = df.dropna(subset=['start_station_id', 'end_station_id'])

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(df_clean)

Unique values in 'start_station_id' before cleaning:
['5905.12' '5938.11' '5308.04' ... 8325.12 8631.03 3356.07]
Unique values in 'end_station_id' before cleaning:
['5703.13' '4692.01' '5779.10' ... 'JC014' '3599.01' 'HB103']
Rows with NaN values in 'start_station_id' or 'end_station_id':
        start_station_id  end_station_id
1329                 NaN         5470.12
1348                 NaN         7884.04
4505                 NaN         6889.12
5986                 NaN         5470.12
5988                 NaN         5470.12
...                  ...             ...
984179               NaN         5886.13
984185               NaN         6089.11
986439               NaN         6389.09
989491           5730.08             NaN
998750           5653.12             NaN

[624 rows x 2 columns]
Cleaned DataFrame:
                 ride_id  rideable_type           started_at  \
0       58F2CA262B50E256   classic_bike  2024-01-25 20:39:09
1       AA7AB6D6E9F8D21B   classic_bike  2024-01-15 18:44:36
2       1830A6C4BA1E1A9D   classic_bike  2024-01-03 19:27:58
3       3995B084A51A1038   classic_bike  2024-01-22 18:29:46
4       23EE6A8979C333B1   classic_bike  2024-01-27 09:55:39
...                  ...            ...                  ...
999995  45C82F379A612E74  electric_bike  2024-01-27 15:09:20
999996  FCFDAF965C8A978D  electric_bike  2024-01-20 10:10:05
999997  258A221C9F7515A8  electric_bike  2024-01-15 18:18:11
999998  CB21C758F9E6E33E  electric_bike  2024-01-03 13:40:07
999999  C34B8AAEA5C83431  electric_bike  2024-01-12 20:53:55

                   ended_at          start_station_name  start_station_id  \
0       2024-01-25 20:44:07          Broadway & E 14 St           5905.12
1       2024-01-15 19:19:46         E 16 St & Irving Pl           5938.11
2       2024-01-03 19:58:42         E 16 St & Irving Pl           5938.11
3       2024-01-22 18:59:57         E 16 St & Irving Pl           5938.11
4       2024-01-27 10:00:48         E 16 St & Irving Pl           5938.11
...                     ...                         ...               ...
999995  2024-01-27 15:21:53         St Marks Pl & 2 Ave           5669.10
999996  2024-01-20 10:22:06  Willoughby St & Ashland Pl           4587.02
999997  2024-01-15 18:21:00             1 Ave & E 39 St           6303.01
999998  2024-01-03 13:45:06       W Broadway & Watts St           5569.07
999999  2024-01-12 21:11:27            E 142 St & 3 Ave           7781.10

                  end_station_name  end_station_id  start_lat  start_lng  \
0                  Ave A & E 11 St         5703.13  40.734546 -73.990741
1          Clermont Ave & Park Ave         4692.01  40.735367 -73.987974
2          Clermont Ave & Park Ave         4692.01  40.735367 -73.987974
3          Clermont Ave & Park Ave         4692.01  40.735367 -73.987974
4                  E 14 St & 1 Ave         5779.10  40.735367 -73.987974
...                            ...             ...        ...        ...
999995             E 48 St & 3 Ave         6541.03  40.728338 -73.987466
999996        Market St & Henry St         5270.09  40.691802 -73.978676
999997     E 39 St & Lexington Ave         6389.09  40.747177 -73.971244
999998       Lafayette St & E 8 St         5788.13  40.722985 -74.002846
999999  Freeman St & Southern Blvd         8060.01  40.812729 -73.923672

          end_lat    end_lng member_casual
0       40.728547 -73.981759        member
1       40.695734 -73.971297        member
2       40.695734 -73.971297        member
3       40.695734 -73.971297        member
4       40.731393 -73.982867        member
...           ...        ...           ...
999995  40.754601 -73.971879        member
999996  40.713107 -73.994464        member
999997  40.749499 -73.977292        member
999998  40.730207 -73.991026        member
999999  40.830051 -73.892103        member

[999376 rows x 13 columns]

In [13]:
# encode categorical values rideable_type and member_casual columns to numeric values

In [14]:
df_clean.rideable_type.value_counts()

rideable_type
electric_bike    637428
classic_bike     361948
Name: count, dtype: int64

In [15]:
df_clean.member_casual.value_counts()

member_casual
member    892838
casual    106538
Name: count, dtype: int64

In [16]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming 'data' is your dataset
df = pd.DataFrame(df_clean)

# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the rideable_type column
df['rideable_type_numeric'] = label_encoder.fit_transform(df['rideable_type'])

# Display the mapping of categories to numbers
mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
print("Label Encoding Mapping:")
print(mapping)

# Display the DataFrame with the new numeric column
print("DataFrame with numeric rideable_type:")
df_clean=df.copy()
print(df_clean.head())

Label Encoding Mapping:
{'classic_bike': 0, 'electric_bike': 1}
DataFrame with numeric rideable_type:
            ride_id rideable_type           started_at             ended_at  \
0  58F2CA262B50E256  classic_bike  2024-01-25 20:39:09  2024-01-25 20:44:07
1  AA7AB6D6E9F8D21B  classic_bike  2024-01-15 18:44:36  2024-01-15 19:19:46
2  1830A6C4BA1E1A9D  classic_bike  2024-01-03 19:27:58  2024-01-03 19:58:42
3  3995B084A51A1038  classic_bike  2024-01-22 18:29:46  2024-01-22 18:59:57
4  23EE6A8979C333B1  classic_bike  2024-01-27 09:55:39  2024-01-27 10:00:48

    start_station_name  start_station_id         end_station_name  \
0   Broadway & E 14 St           5905.12          Ave A & E 11 St
1  E 16 St & Irving Pl           5938.11  Clermont Ave & Park Ave
2  E 16 St & Irving Pl           5938.11  Clermont Ave & Park Ave
3  E 16 St & Irving Pl           5938.11  Clermont Ave & Park Ave
4  E 16 St & Irving Pl           5938.11          E 14 St & 1 Ave

   end_station_id  start_lat  start_lng    end_lat    end_lng member_casual  \
0         5703.13  40.734546 -73.990741  40.728547 -73.981759        member
1         4692.01  40.735367 -73.987974  40.695734 -73.971297        member
2         4692.01  40.735367 -73.987974  40.695734 -73.971297        member
3         4692.01  40.735367 -73.987974  40.695734 -73.971297        member
4         5779.10  40.735367 -73.987974  40.731393 -73.982867        member

   rideable_type_numeric
0                      0
1                      0
2                      0
3                      0
4                      0

In [17]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming 'data' is your dataset
df = pd.DataFrame(df_clean)

# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the rideable_type column
df['member_casual_numeric'] = label_encoder.fit_transform(df['member_casual'])

# Display the mapping of categories to numbers
mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
print("Label Encoding Mapping:")
print(mapping)

# Display the DataFrame with the new numeric column
print("DataFrame with numeric member_casual:")
df_clean=df.copy()
print(df.head())

Label Encoding Mapping:
{'casual': 0, 'member': 1}
DataFrame with numeric member_casual:
            ride_id rideable_type           started_at             ended_at  \
0  58F2CA262B50E256  classic_bike  2024-01-25 20:39:09  2024-01-25 20:44:07
1  AA7AB6D6E9F8D21B  classic_bike  2024-01-15 18:44:36  2024-01-15 19:19:46
2  1830A6C4BA1E1A9D  classic_bike  2024-01-03 19:27:58  2024-01-03 19:58:42
3  3995B084A51A1038  classic_bike  2024-01-22 18:29:46  2024-01-22 18:59:57
4  23EE6A8979C333B1  classic_bike  2024-01-27 09:55:39  2024-01-27 10:00:48

    start_station_name  start_station_id         end_station_name  \
0   Broadway & E 14 St           5905.12          Ave A & E 11 St
1  E 16 St & Irving Pl           5938.11  Clermont Ave & Park Ave
2  E 16 St & Irving Pl           5938.11  Clermont Ave & Park Ave
3  E 16 St & Irving Pl           5938.11  Clermont Ave & Park Ave
4  E 16 St & Irving Pl           5938.11          E 14 St & 1 Ave

   end_station_id  start_lat  start_lng    end_lat    end_lng member_casual  \
0         5703.13  40.734546 -73.990741  40.728547 -73.981759        member
1         4692.01  40.735367 -73.987974  40.695734 -73.971297        member
2         4692.01  40.735367 -73.987974  40.695734 -73.971297        member
3         4692.01  40.735367 -73.987974  40.695734 -73.971297        member
4         5779.10  40.735367 -73.987974  40.731393 -73.982867        member

   rideable_type_numeric  member_casual_numeric
0                      0                      1
1                      0                      1
2                      0                      1
3                      0                      1
4                      0                      1

In [18]:
import pandas as pd
import numpy as np

# Function to calculate the distance between two points using the Haversine formula
def haversine_distance(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    
    # Haversine formula
    dlat = lat2 - lat1 
    dlon = lon2 - lon1 
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a)) 
    r = 3958.8 # Radius of Earth in miles
    return c * r

# Calculate distance for each row
df_clean['trip_distance_miles'] = df_clean.apply(lambda row: haversine_distance(row['start_lat'], row['start_lng'], row['end_lat'], row['end_lng']), axis=1)

In [19]:
#create target

In [20]:
df_clean['started_at'] = pd.to_datetime(df_clean['started_at'])
df_clean['ended_at'] = pd.to_datetime(df_clean['ended_at'])

In [21]:
df_clean["duration_min"] = df_clean.ended_at - df_clean.started_at
df_clean.duration_min = df_clean.duration_min.apply(lambda td : float(td.total_seconds())/60)

In [22]:
df = pd.DataFrame(df_clean)

# Drop the specified columns
columns_to_drop = ['ride_id', 'rideable_type', 'started_at', 'ended_at', 
                   'start_station_name', 'end_station_name', 
                   'start_lat', 'start_lng', 'end_lat', 'end_lng', 
                   'member_casual']

df_clean= df.drop(columns=columns_to_drop)

In [23]:
df_clean.head()

,start_station_id,end_station_id,rideable_type_numeric,member_casual_numeric,trip_distance_miles,duration_min
0,5905.12,5703.13,0,1,0.626842,4.966667
1,5938.11,4692.01,0,1,2.874320,35.166667
2,5938.11,4692.01,0,1,2.874320,30.733333
3,5938.11,4692.01,0,1,2.874320,30.183333
4,5938.11,5779.10,0,1,0.383258,5.150000

In [24]:
df_clean.shape

(999376, 6)

In [123]:
#export clean data

In [25]:
df_clean.to_csv('output.csv', index=False)

In [26]:
new_df = pd.read_csv("artifacts/data_ingestion/output.csv")
new_df.head()

,start_station_id,end_station_id,rideable_type_numeric,member_casual_numeric,trip_distance_miles,duration_min
0,5905.12,5703.13,0,1,0.626842,4.966667
1,5938.11,4692.01,0,1,2.874320,35.166667
2,5938.11,4692.01,0,1,2.874320,30.733333
3,5938.11,4692.01,0,1,2.874320,30.183333
4,5938.11,5779.10,0,1,0.383258,5.150000

In [27]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999376 entries, 0 to 999375
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   start_station_id       999376 non-null  float64
 1   end_station_id         999376 non-null  float64
 2   rideable_type_numeric  999376 non-null  int64
 3   member_casual_numeric  999376 non-null  int64
 4   trip_distance_miles    999376 non-null  float64
 5   duration_min           999376 non-null  float64
dtypes: float64(4), int64(2)
memory usage: 45.7 MB

In [50]:
from dataclasses import dataclass
from pathlib import Path


@dataclass(frozen=True)
class DataValidationConfig:
    root_dir: Path
    STATUS_FILE: str
    unzip_data_dir: Path
    all_schema: dict

In [51]:
from mlProject.constants import *
from mlProject.utils.common import read_yaml, create_directories

In [52]:
class ConfigurationManager:
    def __init__(
        self,
        config_filepath = CONFIG_FILE_PATH,
        params_filepath = PARAMS_FILE_PATH,
        schema_filepath = SCHEMA_FILE_PATH):

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])


    
    def get_data_validation_config(self) -> DataValidationConfig:
        config = self.config.data_validation
        schema = self.schema.COLUMNS

        create_directories([config.root_dir])

        data_validation_config = DataValidationConfig(
            root_dir=config.root_dir,
            STATUS_FILE=config.STATUS_FILE,
            unzip_data_dir = config.unzip_data_dir,
            all_schema=schema,
        )

        return data_validation_config

In [53]:
import os
from mlProject import logger

In [54]:
class DataValiadtion:
    def __init__(self, config: DataValidationConfig):
        self.config = config


    def validate_all_columns(self)-> bool:
        try:
            validation_status = None

            data = pd.read_csv(self.config.unzip_data_dir)
            all_cols = list(data.columns)

            all_schema = self.config.all_schema.keys()

            
            for col in all_cols:
                if col not in all_schema:
                    validation_status = False
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")
                else:
                    validation_status = True
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")

            return validation_status
        
        except Exception as e:
            raise e

In [62]:
try:
    config = ConfigurationManager()
    data_validation_config = config.get_data_validation_config()
    data_validation = DataValiadtion(config=data_validation_config)
    data_validation.validate_all_columns()
except Exception as e:
    raise e

[2024-07-28 06:41:24,731: INFO: common: yaml file: config/config.yaml loaded successfully]
[2024-07-28 06:41:24,733: INFO: common: yaml file: params.yaml loaded successfully]
[2024-07-28 06:41:24,735: INFO: common: yaml file: schema.yaml loaded successfully]
[2024-07-28 06:41:24,737: INFO: common: created directory at: artifacts]
[2024-07-28 06:41:24,739: INFO: common: created directory at: artifacts/data_validation]